<app-spinner></app-spinner>

<div class="container mt-4">
    <div class="align-items-center d-flex justify-content-center vh-100">
        <div class="register-page">
          <!-- <a (click)="window.history.back()" class="btn back-page-btn"><i class="ri-arrow-left-s-line"></i></a> -->
            <h3>LOGIN</h3>
            <p>Let’s us know what your name, email, and your password</p>
            <div id="google_translate_element" class="custom-google-select text-warning">Change Language</div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()"  class="default-form-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-input-wrap">
                            <label><img src="assets/img/icon/profile.svg" alt="img"></label>
                            <input formControlName="identifier" type="text" class="form-control" placeholder="Enter username / email address">
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="single-input-wrap">
                            <label><img src="assets/img/icon/message.svg" alt="img"></label>
                            <input type="email" class="form-control" placeholder="Enter your Phone number or email">
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="single-input-wrap">
                            <label><img src="assets/img/icon/password.svg" alt="img"></label>
                            <input
                             formControlName="password"
                             [type]="showPassword ? 'text' : 'password'"
                               class="form-control" placeholder="Password">
                            <span   (click)="togglePassword()"  class="show-pass-btn">
                              <img *ngIf="showPassword" src="assets/img/icon/eye.svg" alt="img">
                              <img *ngIf="!showPassword" src="assets/img/icon/eye-open.svg" alt="img">
                            </span>
                        </div>
                    </div>
                    <div class="text-end"><a routerLink="/forgot-password">Forgot password?</a></div>
                </div>
                <button class="btn btn-base w-100">Sign In</button>
            </form>
            <!-- <div class="text-center">
                <div class="or-border"><span>Or Sign Up With</span></div>
                <ul class="social-area">
                    <li><a href="https://www.facebook.com/"><img src="assets/img/icon/facebook.svg" alt="img"></a></li>
                    <li><a href="https://www.apple.com/"><img src="assets/img/icon/apple.svg" alt="img"></a></li>
                    <li><a href="https://www.google.com/"><img src="assets/img/icon/google.svg" alt="img"></a></li>
                </ul>
            </div> -->

            <span class="another-way-link">Create a new account? <a routerLink='/register' >Sign Up</a></span>
        </div>
    </div>
</div>

<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
