<app-spinner></app-spinner>

<div class="container mt-4">
    <div class="align-items-center d-flex justify-content-center vh-100">
        <div class="register-page">
          <a (click)="window.history.back()" class="btn back-page-btn"><i class="ri-arrow-left-s-line"></i></a>
            <h3>Resset Account.</h3>
            <p>Let’s us know your email, to enable us s your password</p>
            <div id="google_translate_element" class="custom-google-select text-warning">Change Language</div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()"  class="default-form-wrap">
                <div class="row">

                    <div class="col-md-6">
                        <div class="single-input-wrap">
                            <label><img src="assets/img/icon/message.svg" alt="img"></label>
                            <input formControlName="email" class="form-control" placeholder="Enter your email address">
                        </div>
                    </div>
                </div>
                <button class="btn btn-base w-100">Continue</button>
            </form>

            <span class="another-way-link">Back to login? <a routerLink='/login' >Login Now</a></span>
        </div>
    </div>
</div>

<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>
