.m-header.flex {
    display: flex;
    justify-content: space-between;
}
.m-time{
  font-size: 10px;
}

.potential_winning{
  font-size: 15px;
  font-weight: 800;
}
.potential_winning.won{
  color: green;
}

.fa-trash{
  color: red;
  font-size: 10px;
}

.fa-check{
  color: green;
  font-size: 14px;
}

button.status{
  font-size: 12px;
}

.m-odd{
  color: #998;
  font-weight: 800;

}

.m-value{
  color: yellow;
}

span.btn-sm {
    text-align: center;
    justify-content: center;
    display: grid;
    opacity: 2;
}



.results {
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 6px;
}


.empty-div {
  padding: 20px;
  text-align: center;
  color: #999;
  margin-top: 20%;
}

.fa-lock{
  color: green;
}

.fa-unlock{
  color: #ff7d7d;
}

.blog-meta .amount{
  font-weight: 800;
}

.blog-meta .title{
  font-weight: lighter;
}

.bet-slip-card .title {
    font-size: .644rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.starts-time {
    color: #31ff87d1;
    margin-top: 12px;

}
.starts-time .loader-icon {
  display: inline-block;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.status-live {
  animation: blinkFade 7s ease-in-out infinite;
  font-size: 12px;
}

@keyframes blinkFade {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}
