.team-won{
  color: green;
}


.score-box {
  background-color: #eaf9ea;
  border-radius: 8px;
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  min-width: 60px;
  margin: auto;
}

.score-box .odds {
  font-size: 13px;
  color: #444;
  margin-top: 4px;
}
