  <div   class="modal fade" id="telegramBonusModal" tabindex="-1">
    <div *ngIf="storeData.store['wallet'] as walletData"  class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-3">
        <div class="modal-header">
          <div class="head-1">
            <h5 class="modal-title">Claim ${{walletData.settings.sign_up_bonus}} Bonus</h5>

            <p class="text-warning">complete the below steps to Claim your bonus </p>

          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">

          <div *ngIf="!storeData.store['bindedTg']">
            <div  class="">
              <!-- <p *ngIf="!storeData.store['bindedTg']">Click below to connect your Telegram.</p> -->

              <span class="text-info">Receive messages directly on telegram!</span>
            </div>
            <button
                class="btn btn-primary"
                (click)="telegram.connect()">Bind Telegram
            </button>

            <p>Start the bot to link your Telegram:</p>
          </div>



          <div *ngIf="!storeData.store['joined']">
            <a [href]="'https://t.me/medassport?start='" target="_blank"
               class="btn btn-success">Join Channel</a>
            <p class="mt-2">Join our channel to claim bonus.</p>
            <!-- <button class="btn btn-info" (click)="deliverJoinLink()">I've Linked</button> -->
          </div>

          <!-- <div *ngIf="!storeData.store['JoinedChanel']">
            <p>We've sent you the join link privately on Telegram. Join the channel then check below.</p>
            <button class="btn btn-warning" (click)="checkJoined()" [disabled]="checking">
              {{ checking ? 'Checking...' : 'Check if Joined' }}
            </button>
          </div> -->

          <div *ngIf="joined">
            <h5 class="text-success">🎉 You have joined! $1 credited.</h5>
          </div>

        </div>
      </div>
    </div>
  </div>
