.profile-details ul li h6  {
    /* font-size: 18px;
    font-weight: 600;
    color: var(--white-color, #fff);
    margin-bottom: 0; */
    font-size: .644rem;
}

.profile-details ul li span  {
    /* font-size: 18px;
    font-weight: 600;
    color: var(--white-color, #fff);
    margin-bottom: 0; */
    font-size: .644rem;
}
