/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: .745rem;
}

html {
  font-size: 14px; /* smaller base size */
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
/*  */
.scroll-box {
  height: 700px;
  overflow-y: auto;
  /* padding: 10px; */
}

.slider-content.active {
    display: block !important;
}


.single-product-wrap .thumb {
  width: 30%;
}

.single-product-wrap .thumb img {
  width: 30%;
}

.main-footer-bottom ul li a svg {
    filter: brightness(1.5) grayscale(1);
    transition: all 0.4s ease-in;
    display: block;
    margin: auto;
}

.text-date {
    color: #999;
    font-size: 12px;
}

.single-page-area .wallet .balance {
    border-radius: none;
    border: 0;
    background: var(--white-color, #fff);
    display: inline-flex;
    align-items: center;
    padding: 3px 3px 3px 11px;
    line-height: normal;
    justify-content: space-between;
    width: 90px;
    margin-left: auto;
    color: #614bff;
}

.error-input{
  margin-top: 1em;
  font-size: 12px;
  color: #ffb0b7;
  font-weight: 800;
}

select {
    word-wrap: normal;
    background: transparent;
    border: none;
    color: #fff;
    padding: 20px;
}

.modal-content {
    background: var(--white-color, #fff);
    border: 0 none;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full screen center */
  /* background: white;  */
}

.logo-bounce {
  width: 120px; /* adjust size */
  height: auto;
  /* animation: bounceIn 1.5s ease; */
  animation: bounceIn 1.5s infinite ease-in-out;

}

@keyframes bounceIn {
  0% {
    transform: scale(0.3) translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: scale(1.05) translateY(20px);
    opacity: 1;
  }
  70% {
    transform: scale(0.9) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.no-data{
  text-align: center;
  margin-top: 7em;
}
.single-page-area .title-area h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 30px 0 58px;
    font-size: .84rem;
}

/* google translator styling */
.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

/* sport board */
.single-product-wrap .details .team-name {
    font-size: .65rem;
    font-weight: 600;
    margin-top: 10px;
}


.single-product-wrap .title {
    font-size: .65rem;
    font-weight: 400;
    color: var(--heading-color, #101010);
}

.single-product-wrap .betting-wrap .btn {
    font-size: .65rem;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    padding: 0 18px;
    margin-top: 10px;
}

.modal-backdrop.show {
  background-color: #000 !important;
  opacity: 0.7 !important;
  z-index: 9 !important;
}

.modal {
    z-index: 999;
}
.modal-content {
    background: var(--white-color, #fff);
    border: 1px solid #8c8487;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483647 !important; /* Max safe z-index */
  pointer-events: all;
}


/* dateFIlter */
input[type="date"] {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.date-filter {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content:flex-end;
}

.date-filter label {
  /* display: flex; */
  /* flex-direction: column; */
  /* font-size: 14px; */
}

/* .date-filter input{
  background: transparent;
  color: #fff;;
  border: 1px solid;
} */

button.filter-btn {
    margin-top: 25px;
    border-radius: 12px;
    background-color: #8d8487;
    border: 1px solid #444;
    font-size: 12px;
    color: #fff;
}

/* end dateFIlter */

small {
    /* font-size: .52rem !important; */
}
